#home h1 {
  position: relative;
  font-size: 8rem;
  color: rgba(165, 42, 42, 0.2);
  -webkit-text-stroke: 0.08rem brown;
  text-transform: uppercase;
}

#home h2 {
  position: relative;
  color: rgba(165, 42, 42, 0.2);
  font-size: 2rem;
  -webkit-text-stroke: 0.08rem brown;
}

#home h1::before,
#home h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0rem brown;
  border-right: 2px solid brown;
  overflow: hidden;
  animation: animatedText 6s 2s infinite;
  animation-timing-function: linear;
}

@keyframes animatedText {
  10% {
    width: 0;
  }

  0%,
  70%,
  100% {
    width: 100%;
  }
}
