* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 1rem = 10px */
  font-size: 62.5%;
  font-family: "Roboto", Helvetica, sans-serif;
}

nav {
  background-color: brown;
  width: 100%;
  padding: 0.4rem 1.2rem;
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-img {
  width: 2.4rem;
  border-radius: 50%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

.lang-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.lang-menu img {
  width: 30px;
  height: auto;
}

.lang-menu ul {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  border-radius: 1.2rem;
  position: absolute;
  top: -0.1rem;
  left: -0.2rem;
  gap: 0;
}

.lang-menu ul li {
  list-style: none;
}

.lang-menu ul li a {
  display: flex;
  padding: 0.32rem;
  border-radius: 50%;
}

.lang-menu ul li a:hover {
  background-color: brown;
}

.lang-menu ul {
  display: none;
}

.settings-icon {
  color: #fff;
  width: 1.8rem;
  height: 1.8rem;
}

main {
  margin-top: 2rem;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      45deg,
      rgba(34, 30, 30, 0.603),
      rgba(34, 30, 30, 0.603)
    ),
    url("/img/background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 4rem;
  height: 80vh;
  overflow: hidden;
}

#home h2:nth-child(3) {
  margin-bottom: 2rem;
}

/* ---------------------------------------------- */
/* -----------------Portfolio--------------------- */
/* ---------------------------------------------- */

#portfolio {
  background-color: #fff;
  padding: 3.2rem 4.8rem;
}

#portfolio .header {
  display: flex;
  color: #333;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#portfolio .header h2 {
  font-size: 2.4rem;
}

#portfolio .header p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.gallery-controller {
  color: #fff;
  font-size: 1.08rem;
  margin-bottom: 0.8rem;
}

.gallery {
  border: 1px solid #fff;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 4rem;
  justify-content: flex-start;
  align-items: flex-start;
}

#portfolio .project-box {
  width: 24rem;
  height: 24rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 0.2rem solid #fff;
}

#portfolio .project-box img {
  width: 24rem;
  height: auto;
}
